<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<style>
    table, th, tr, td {
        border-collapse: collapse;
        border: 1px solid black;
    }
</style>
<body>

<table>
    <tr>
        <th>#</th>
        <th>ID</th>
        <th>USERNAME</th>
        <th>ACTION</th>
    </tr>
    <tr th:each="user,stat : ${users}">
        <td th:text="${stat.count}"></td>
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td>🖊 ю</td>
    </tr>
</table>

</body>
</html>